* {
    margin: 0;

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;

    box-sizing: border-box;
}

html, body {
    height: 100%;
    background: #fcf7e6;
}

h1 {
    color: #595959;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0.2em;
}

h3 {
    text-align: center;
    color: #595959;

    font-size: 28px;
    text-transform: uppercase;

    border-bottom: 2px solid #acacac;
    line-height: 0.1em;
    margin: 0 auto;
    width: 450px;
}

h3 span {
    background: #fcf7e6;
    padding: 0 12px;

    font-size: 28px;
    font-weight: 600;
}

p {
    color: #a06c29;
    line-height: 22px;
}

/******************************************
/* CONTENT MANAGEMENT SYSTEM
******************************************/
.content {
    margin: 0 8.33%
}

.row {
    display: flex;
    flex-wrap: wrap;

    margin: 8.33% 0;
}

.col-6 {
    flex: 48%;
    max-width: 48%;
}

/* all direct descendants of col-6 and not the last child */
.col-6 > *:not(:last-child) {
    margin-bottom: 20px;
}

.offset {
    margin-left: 4%;
}

/******************************************
/* CONTACT HEADER
******************************************/
.email-icon {
    color: #fefefe;
    font-size: 22px;
}

.circle {
    height: 55px;
    width: 55px;
    border-radius: 55px;

    background:#595959;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 20px;
}

.align {
    display: flex;
    align-items: center;
}

/******************************************
/* FORM, LABELS, INPUTS
******************************************/
label, input:not(#submit), textarea {
    width: 100%;
}

label {
    font-size: 16px;
    color: #595959;
    font-weight: 700;
    letter-spacing: 0.15em;
}

input[type=text], 
textarea {
    background: #dacfbf;
    border: 1.5px solid #b3aa9d;
    border-radius: 2px;
    height: 30px;
    color: #595959;
    padding: 3px;
}

textarea {
    resize: vertical;
    min-height: 30px;
}

#message {
    height: 175px;
}

form > *:not(label) {
    margin-bottom: 15px;
}

#submit {
    background: #595959;
    color: #fefefe;
    font-size: 15px;
    font-weight: 700;
    border: 1.5px solid #b3aa9d;
    border-radius: 20px;
    padding: 5px 15px;
}

input[type="submit"]:hover {
    cursor: pointer;

    position: relative;
    top: -2px;
}

/******************************************
/* MEDIA QUERIES
******************************************/
@media screen and (max-width: 970px) {
    .col-6 {
        flex: 100%; 
        max-width: 100%
    }

    .row > .col-6:not(:last-child) {
        margin-bottom: 36px;
    }

    .offset {
        margin-left: 0;
    }
}

@media screen and (max-width: 475px) {
    h1 {
        text-align: center;
        margin: 0 auto;
        font-size: 24px;
    }

    .circle {
        display: none;
    }
}